In [ ]:
#Tuples- A tuple is collection which is ordered and unchangable.
#It can be homogenous or heterogenous
#It is written in rounded brackets    :: ()

In [1]:
#creation of tuple of one element
thistuple= ("apple",)            #comma after first element is mandatory
print(thistuple)

('apple',)

In [2]:
#creation of tuple of more elements
thistuple= ("apple","banana", "cherry")           
print(thistuple)

('apple', 'banana', 'cherry')

In [7]:
#You cannot perform any changes in tuple in tuple format itself but 
#we can do edit by converting the tuple in list and 
#then convert back to tuple

tup=(1,2,3,4,5,6,7,8)
print(tup)
l=list(tup)
print(l)
l.append(9)
print(l)
tup=tuple(l)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8)
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
#you cannot remove anything from tuple but you can delete whole tuple
tup=(4,5,6,7)
print(tup)

(4, 5, 6, 7)

In [10]:
del tup

In [11]:
print(tup)

NameError: name 'tup' is not defined

In [ ]:
#built-in function in tuple
'''
all() :: Returns True if all elements of the iterable are true (or if the iterable is empty)
any() :: Returns True if any element of the iterable is true. If the iterable is empty, it returns False
len() :: Returns the length (the number of items) of an object
enumerate() :: allows iteration over an iterable, providing both the index and value at each iteration
max() :: Returns the largest item in an iterable or the largest of two or more arguments.
min() :: Returns the smallest item in an iterable or the smallest of two or more arguments
sum() :: Sums the items of an iterable from left to right and returns the total
sorted() :: Returns a new sorted list from the items in the iterable
tuple() :: Returns a tuple whose items are the same and in the same order as iterable's items
'''

In [12]:
tupl=([2,3], "abc", 0, 9)
tupl[0][1]=1
print(tupl)

#here we have done changes in list within the tuple not directly tuple as tuple is immutable

([2, 1], 'abc', 0, 9)

In [14]:
#reverse the tuple

tuple1=('x','y','z')
print(tuple1)
li=list(tuple1)
li=li[::-1]
tuple1=tuple(li)
print(tuple1)

('x', 'y', 'z')
('z', 'y', 'x')

In [15]:
print(enumerate(tuple1))

<enumerate object at 0x0000024676C80D00>

In [17]:
#all(iterables) 
numbers = (1, 2, 3, 4, 5)
print(all(numbers))  # Output: True (all elements are True)

words = ("apple", "banana", "", "cherry")
print(all(words))  # Output: False (empty string evaluates to False)

True
False

In [18]:
# any(iterables)
my_tuple = (False, False, True)
print(any(my_tuple))  # Output: True (at least one element is True)

True

In [19]:
# len(iterables)
my_tuple = (1, 2, 3, 4, 5)
print(len(my_tuple))  # Output: 5 (length of the tuple)

5

In [20]:
# enumerate(iterables, start=n)
my_tuple = ('a', 'b', 'c')
for index, value in enumerate(my_tuple, start=1):
    print(f"Index: {index}, Value: {value}")
# Output:
# Index: 1, Value: a
# Index: 2, Value: b
# Index: 3, Value: c

Index: 1, Value: a
Index: 2, Value: b
Index: 3, Value: c

In [21]:
# min(iterable)
my_tuple = (10, 20, 30)
print(min(my_tuple))

10

In [22]:
# max(iterable)
my_tuple = (10, 20, 30)
print(max(my_tuple))

30

In [23]:
# sum(iterable)
my_tuple = (1, 2, 3, 4, 5)
print(sum(my_tuple))  # Output: 15 (sum of all elements in the tuple)

15

In [24]:
#sorted(iterable)
my_tuple = (3, 1, 4, 1, 5, 9, 2)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)  # Output: [1, 1, 2, 3, 4, 5, 9] (sorted tuple)

[1, 1, 2, 3, 4, 5, 9]